.country-card {
  text-align: right;
  width: 50%;
  height: 160px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-link {
  text-decoration: none;
}

.country-card-icon,
.country-card-row {
  padding-right: 10px;
  padding-top: 5px;
}

.country-card-row {
  color: var(--text-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.country-card-row-content {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

.country-description {
  font-weight: 600;
}
