.details-header {
  text-align: right;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.demography-details {
  height: 25px;
  text-align: left;
  background-color: var(--primary-color);
  font-weight: 600;
  padding-left: 20px;
  padding-top: 3px;
}

.demography-list {
  padding-left: 0;
  margin-top: 0;
}

.demography-list > .demography-card:nth-child(odd) {
  background-color: var(--bg-color);
}

.details-header-info {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin-right: 15px;
}

.country-code,
.country-name {
  font-size: 1.5rem;
  font-weight: 600;
}
